.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #ffc5c5;
  border-bottom-color: #a62626;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  animation: divarLoader 1s linear infinite;
}

@keyframes divarLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
